<!DOCTYPE html>
<html>
<head>
  <title>HainesySite</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<h1>Christopher Haines</h1>

<nav>
<li><%= link_to('Home',home_path, class: 'nav-link') %></li>
<li><%= link_to('About',about_me_path) %></li>
<li><%= link_to('Interests',interests_path) %></li>
<li><%= link_to('TV',tv_path) %></li>
<li><%= link_to('Video Games',video_games_path) %></li>
<li><%= link_to('Contact',contact_path) %></li>
</nav>

<%= yield %>

</body>
</html>
